<?xml version="1.0"?>
<model>
  <name>pin-yy</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>override_sim</name>
    <email>override@example.com</email>
  </author>
  <description>Override bicolor pin (hex, 165 mm)</description>
  <ros>
    <version>jazzy</version>
  </ros>
</model>
